@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@800&display=swap');


.home-page header {
    background-image: url(../utils/img/header.png);
}

header {
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 5rem;
    font-family: Montserrat;
}


span {
    color: green;
}



.home-content {
    color: black;
}

.home-page header h1,
.home-page header h2 {
    text-shadow: 2px 2px 8px #ffffff;
}


@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 3rem;
    }
}